  <div class="container intro-single">

        <div class="title-box-d">
          <h3 class="title-d">Login</h3>
        </div>
        
        <div class="form" >
          <form class="form-a" #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)" ngNativeValidate>
            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="form-group">
                  <label class="pb-2" for="username">Username</label>
                  <input type="text" class="form-control form-control-lg form-control-a" placeholder="Username" name="username" id="username" required ngModel>
                </div>
              </div>
              <div class="col-md-12 mb-2">
                <div class="form-group">
                  <label class="pb-2" for="password">Password</label>
                  <input type="password" class="form-control form-control-lg form-control-a" placeholder="Password" name="password" id="password" required ngModel>
                </div>
              </div>
             <div class="col-md-12">
                <button type="submit" class="btn btn-b">Login</button>
              </div>
            </div>
          </form>
        
      </div>

